# Site settings
title: "VLSI-SoC 2026"
description: "IFIP/IEEE International Conference on Very Large Scale Integration SoC (VLSI-SoC)"
baseurl: "" # the subpath of your site, e.g. /blog (leave empty for custom domain)
url: "https://vlsi-soc.com" # the base hostname & protocol for your site

# Build settings
markdown: kramdown
exclude:
  - Gemfile
  - Gemfile.lock
  - README.md

# Collections
collections:
  pages:
    output: true
    permalink: /:name

# Defaults
defaults:
  - scope:
      path: ""
    values:
      layout: "default"
