<footer class="footer bg-footer" style="padding-top:80px" id="footer">
  <div class="container">
    <div class="row col-md-12">
      <div class="col-md-4 txtcenter">
        <h5 class="ops-tt c-white">CONTACTS</h5>
        <br />
        <i class="fa fa-user same-line c-white" aria-hidden="true"></i>
        <p class="ops-2t c-gray same-line" style="color:#F8CF5F !important;"> Tiziana Margaria</p>
        <br />
        <i class="fa fa-envelope same-line c-white" aria-hidden="true"></i>
        <p class="ops-2t c-gray same-line"><a class="ops-tt a-no c-gray"
            href="mailto:tiziana.margaria@ul.ie">tiziana.margaria@ul.ie</a></p>
        <br />
        <i class="fa fa-phone same-line c-white" aria-hidden="true"></i>
        <p class="ops-2t c-gray same-line"><a class="ops-tt a-no c-gray" href="tel:+35361213072">(+353) 61 213072</a>
        </p>
        <br /><br />
        <i class="fa fa-user same-line c-white" aria-hidden="true"></i>
        <p class="ops-2t c-gray same-line" style="color:#F8CF5F !important;"> Ian O'Connor</p>
        <br />
        <i class="fa fa-envelope same-line c-white" aria-hidden="true"></i>
        <p class="ops-2t c-gray same-line"><a class="ops-tt a-no c-gray"
            href="mailto:ian.oconnor@ec-lyon.fr">ian.oconnor@ec-lyon.fr</a></p>
        <br />
        <i class="fa fa-phone same-line c-white" aria-hidden="true"></i>
        <p class="ops-2t c-gray same-line"><a class="ops-tt a-no c-gray" href="tel:+33645478120">(+33) 645 478 120</a>
        </p>
      </div>
      <div class="col-md-4 txtcenter margin-mobile">
        <h5 class="ops-tt c-white">SPONSOR</h5>
        <p class="ops-tt c-gray"><i>We are grateful to all our academic, institutional, and industrial sponsors:</i>
        </p>

        <h5 class="ops-2t c-gray same-line"><a class="ops-tt a-no c-gray" href="http://ieee-cas.org">- CAS</a></h5>
        <br />
        <h5 class="ops-2t c-gray same-line"><a class="ops-tt a-no c-gray" href="https://www.ieee.org/index.html">-
            IFIP</a></h5>
        <br />
        <h5 class="ops-2t c-gray same-line"><a class="ops-tt a-no c-gray" href="http://www.sigda.org">- SIGDA</a></h5>
        <br />
        <h5 class="ops-2t c-gray same-line"><a class="ops-tt a-no c-gray" href="https://www.ieee.org/index.html">-
            IEEE</a></h5>
        <br />
        <h5 class="ops-2t c-gray same-line"><a class="ops-tt a-no c-gray" href="http://www.ieee-ceda.org">- CEDA</a>
        </h5>
      </div>
      <div class="col-md-4 txtcenter margin-mobile">
        <img src="{{ '/img/vlsi-logo.png' | relative_url }}" width="150" height="100" alt="">
        <br /><br />
        <i class="fa fa-globe same-line c-white" aria-hidden="true"></i>
        <h5 class="ops-2t c-gray same-line"><a class="ops-tt a-no c-gray" href="{{ '/travel.html' | relative_url }}"> Travel To Limassol</a>
        </h5>
        <br />
        <br />
        <i class="fa fa-bed same-line c-white" aria-hidden="true"></i>
        <h5 class="ops-2t c-gray same-line"><a class="ops-tt a-no c-gray" href="{{ '/travel.html' | relative_url }}"> St. Raphael Resort</a>
        </h5>
        <br />
      </div>
    </div>
    <div class="divider-dashed"></div>
    <div class="row col-lg-12 txt-center">
      <p class="ops-tt c-gray">© {{ site.conference.name }} | All Right Reserved</p>
      <a href="https://validator.w3.org/check?uri=referer" style="margin-left:50px"><img
          src="http://www.w3.org/Icons/valid-xhtml10" alt="Valid XHTML 1.0!" height="18" width="50" /></a>
    </div>
  </div>
</footer>

<!-- Cookie Consent Banner -->
<div id="cookie-consent" style="position: fixed; bottom: 0; width: 100%; background-color: #343a40; color: white; padding: 10px 20px; z-index: 9999; display: flex; align-items: center; justify-content: space-between; box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);">
  <div style="flex: 1; font-size: 14px;">
    IEEE websites place cookies on your device to give you the best user experience. By using our websites, you agree to the placement of these cookies. To learn more, read our 
    <a href="https://www.ieee.org/security-privacy.html" target="_blank" style="color: #17a2b8; text-decoration: underline;">Privacy Policy</a>.
  </div>
  <button id="accept-cookies" style="background-color: #17a2b8; border: none; color: white; padding: 5px 15px; font-size: 14px; border-radius: 3px; cursor: pointer;">
    Accept
  </button>
</div>

<!-- Optional JAVASCRIPTS -->
<script src="{{ '/js/wow.min.js' | relative_url }}"></script>
<script>
  new WOW().init();
</script>
<!-- particles .js -->
<script src="{{ '/js/particles.js' | relative_url }}"></script>
<script src="{{ '/js/app.js' | relative_url }}"></script>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
  integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
  crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
  integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
  crossorigin="anonymous"></script>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const consentBanner = document.getElementById("cookie-consent");
    const acceptButton = document.getElementById("accept-cookies");

    // Function to hide the banner and set the cookie
    function acceptCookies() {
      // Hide the banner
      consentBanner.style.display = "none";

      // Set a cookie to remember the consent
      document.cookie = "cookieConsent=true; max-age=31536000; path=/"; // 1 year duration
    }

    // Check if the cookie already exists
    if (document.cookie.split(";").some((item) => item.trim().startsWith("cookieConsent=true"))) {
      // If cookieConsent is found, hide the banner
      consentBanner.style.display = "none";
    }

    // Attach event listener to the "Accept" button
    acceptButton.addEventListener("click", acceptCookies);
  });
</script>
