<div>
  <ul class="nav justify-content-center bg-white-logo">
    <li class="nav-item wow fadeIn">
      <a href="http://ieee-cas.org"> <img src="{{ '/img/CAS_r.png' | relative_url }}" class="img-mh img-fluid" /></a>
    </li>
    <li class="nav-item wow fadeIn">
      <a href="http://www.ieee-ceda.org"><img src="{{ '/img/CEDA_r.png' | relative_url }}" class="img-mh img-fluid" /></a>
    </li>
    <li class="nav-item wow fadeIn">
      <a href="http://www.sigda.org"><img src="{{ '/img/SIGDA_r.png' | relative_url }}" class="img-mh img-fluid" /></a>
    </li>
    <li class="nav-item wow fadeIn">
      <a href="http://www.ifip.org"><img src="{{ '/img/IFIP_r.png' | relative_url }}" class="img-mh img-fluid" /></a>
    </li>
    <li class="nav-item wow fadeIn">
      <a href="https://www.ieee.org/index.html"><img src="{{ '/img/IEEE_r.png' | relative_url }}" class="img-mh img-fluid" /></a>
    </li>
    <li class="nav-item wow fadeIn">
      <a href="https://www.ul.ie/"><img src="{{ '/img/ul-logo.svg' | relative_url }}" class="img-mh img-fluid" /></a>
    </li>
    <li class="nav-item wow fadeIn">
      <a href="https://www.ec-lyon.fr/"><img src="{{ '/img/lyon-logo.png' | relative_url }}" class="img-mh img-fluid" /></a>
    </li>
    <li class="nav-item wow fadeIn">
      <a href="https://www.uis.no/en"><img src="{{ '/img/UiS-logo.png' | relative_url }}" class="img-mh img-fluid" /></a>
    </li>
    <li class="nav-item wow fadeIn">
      <a href="https://www.uclancyprus.ac.cy/"><img src="{{ '/img/uclan-logo.png' | relative_url }}" class="img-mh img-fluid" /></a>
    </li>
  </ul>
</div>
