<!-- TOPICS SECTION -->
<div class="bg-gray-ns bxshadow-top bxshadow-bottom">
  <div class="container">
    <h2 class="ops-tt txtcenter wow fadeIn" style="padding-top:80px;">TOPICS</h2>
    <p class="ops-t txtcenter wow fadeIn">Topics of interest include, <b>but are not limited to:</b></p>
    <div class="row col-md-12 mts-10" style="padding-bottom:80px">
      <div class="col-md-6">
        {% for track in site.data.topics.tracks limit:6 %}
        <details class="topic-spoiler wow fadeIn" data-wow-delay="0.1s">
          <summary class="ops-t">
            <span class="topic-label"><b>Track {{ track.number }}:</b></span>
            <span class="topic-title">{{ track.title }}</span>
          </summary>
          <p class="ops-t topic-description">{{ track.description }}</p>
          {% if track.subtopics %}
          <ul class="ops-t topic-subtopics">
            {% for subtopic in track.subtopics %}
            <li>{{ subtopic }}</li>
            {% endfor %}
          </ul>
          {% endif %}
        </details>
        {% endfor %}
      </div>
      <div class="col-md-6">
        {% for track in site.data.topics.tracks offset:6 %}
        <details class="topic-spoiler wow fadeIn" data-wow-delay="0.1s">
          <summary class="ops-t">
            <span class="topic-label"><b>Track {{ track.number }}:</b></span>
            <span class="topic-title">{{ track.title }}</span>
          </summary>
          <p class="ops-t topic-description">{{ track.description }}</p>
          {% if track.subtopics %}
          <ul class="ops-t topic-subtopics">
            {% for subtopic in track.subtopics %}
            <li>{{ subtopic }}</li>
            {% endfor %}
          </ul>
          {% endif %}
        </details>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
